.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-family: $font-display-primary;

  @media only screen and (max-width: $bp-medium) {
    & {
      justify-content: space-between;
      margin: 2rem;
    }
  }

  .info {
    width: 28rem;

    @media only screen and (max-width: $bp-medium) {
      width: 100%;
      margin-bottom: 5rem;
    }

    &__title {
      font-size: 1.8rem;
      color: $color-red;
      font-weight: 500;
    }

    &__heading {
      font-size: 3.6rem;
      font-weight: 500;
      color: $color-font-grey-1;
    }

    &__text {
      font-size: 1.6rem;
      font-weight: 400;
    }
  }

  .image-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 13rem min-content min-content 13rem;
    grid-gap: 2rem;

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 5rem;
      align-items: center;
      width: 100%;
    }

    .item {
      &--1 {
        flex: 100%;
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        align-self: end;

        .img--1 {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 2.4rem;
        }
      }

      &--2 {
        flex: 100%;
        grid-column: 2 / -1;
        grid-row: 3 / -1;

        .img--2 {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 2.4rem;
        }
      }

      &--3 {
        flex: 100%;
        grid-row: 2 / 4;

        .img--3 {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 2.4rem;
        }
      }
    }
  }
}
